.Ensemble {
    color: white;
    width: 1300px;
    height: 600px;
    display: flex;
}

.Categorie-Box {
    width: 900px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.Second-Box {
    width: 900px;
    height: 600px;
    font-size: 25px;
    text-align: center;
}

.Double {
    width: 600px;
    height: 200px;
}

.Categorie {
    width: 300px;
    height: 200px;
}

.Carousel {
    width: 400px;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: contain;
}

.Green, .BlogSecond {
    background-color: #35BC35;
}

.Jaune, .ProfileSecond {
    background-color: #ffc107;
}

.Blue, .ExperienceSecond, .ContactSecond {
    background-color: #1e8bc4;
}

.Red, .EducationSecond {
    background-color: #f15a49;
}

.Orange, .SocialMenuSecond, .PortfolioSecond {
    background-color: #f86925;
}

#Previous, #Next {
    width: 30px;
    height: 30px;
}

button {
    color: white;
    background-color: #35BC35;
}

#Resume, #iContact {
    border: white solid;
}

img {
    width: 5vw; /* vw */
    height: 10vh; /* vh */
    margin-top: 20%;
    margin-left: 40%;
}

#ExperiencePro {
    width: 7vw;
    margin-left: 35%;
}

#NomExperience {
    margin-left: 15%;
}

#NomSocialMenu {
    margin-left: 33%;
}

#NomBlog {
    margin-left: 35%;
}

#NomPortfolio {
    margin-left: 37%;
}

#NomContact, #NomEducation {
    margin-left: 40%;
}

#NomProfile {
    margin-left: 41%;
}

#LinKedIn, #Twitter, #GitHub, #CV, #HTMLCSS, #HTMLCSSJS {
    margin: 0%;
}

#HTMLCSS, #HTMLCSSJS {
    width: 10vw; /* vw */
    height: 15vh; /* vh */
}

.Underline {
    text-decoration: underline;
}

#NomPersonne {
    margin-left: 35%;
}

#Description {
    margin-left: 20%;
}

#Renseignement {
    margin-left: 15%;
}

#Resume {
    margin-left: 25%;
}

#iContact {
    margin-left: 10%;
}

@media only screen and (max-width: 840px) {

}